@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);
}


*{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body{
    background-color: var(--light-gray);
    
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 10px 10px 44px -9px rgba(31,50,81,0.25);
    border-radius: 25px;
    background-color: var(--white);
    margin-top: 175px; 
    position: relative;
    max-width: 350px; 
}
.img-container{
    padding: 17px;
}
.img-container img{
    border-radius: 10px;
    width: 100%;
}

.text-container h1{
    font-size: 23px;
    font-weight: 700;
    color: var(--dark-blue);
    padding: 0 28px 0 28px;
}
.text-container p{
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
    padding: 15px 40px 40px 40px;
}

@media screen and (max-width: 767 px) {
    body{
        background-color: var(--light-gray);
        
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        box-shadow: 10px 10px 44px -9px rgba(31,50,81,0.25);
        border-radius: 25px;
        background-color: var(--white);
        margin-top: 175px; 
        position: relative;
        max-width: 350px;
    }
    .img-container{
        padding: 17px;
    }
    .img-container img{
        border-radius: 10px;
        width: 100%;
    }
    
    .text-container h1{
        font-size: 23px;
        font-weight: 700;
        color: var(--dark-blue);
        padding: 0 28px 0 28px;
    }
    .text-container p{
        font-size: 15px;
        font-weight: 400;
        color: var(--grayish-blue);
        padding: 15px 40px 40px 40px;
    }
    
}

.attribution { 
    font-size: 11px; text-align: center; 
    visibility: hidden;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    visibility: hidden;
}
